<!doctype html>
{% load static %}
<html>
    <head>
        <meta charset="utf-8">
        <title>Zostań skautem</title>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">

    </head>


    <body>
        <h1 id="starth">Zostań skautem</h1>

        <ul id="stra">
            <li class="strp"><a href="{% url 'signup' %}">ZAREJESTRUJ SIĘ</a></li>
            <li class="strp"><a href="{% url 'players' %}">LISTA PIŁKARZY</a></li>
            <li class="strp"><a href="{% url 'clubs' %}">LISTA KLUBÓW</a></li>
            {% if user.is_authenticated %}
                    <!--zalogowano jako: {{ user }}-->
            <li class="strp"></li><a href="{% url 'logout' %}">WYLOGUJ</a></ul>
                {% else %}
            <li class="strp"><a href="{% url 'login' %}">ZALOGUJ</a></li>
                {% endif %}
        </ul>

        {% block content %}
        {% endblock %}

    <footer>
            <p>
                 {% if user.is_authenticated %}
                    zalogowano jako: {{ user }}

                {% endif %}
            </p>
        </footer>


    </body>
</html>