{% extends "base.html" %}

{% block content %}
<h1> {{ club.name }}</h1>
    <ul>
        <li>Miasto: {{ club.city }}</li>
        <li>Liga: {{ club.league }}</li>
        <li>Rok założenia: {{ club.year }}</li>
        <li>Reputacja: {{ club.get_reputation_display }}</li>
        <li>Stan finansów: {{ club.get_money_display }}</li>
        <li>Nazwa stadionu: {{ club.arena_name }}</li>
        <li>Pojemność stadionu: {{ club.arena_capacity }}</li>

    </ul>

<h2>Lista piłkarzy:</h2>
<div style="overflow-x:auto;">
<table id="customers">
    <tr>
        <th scope="col">IMIĘ I NAZWISKO</th>
        <th scope="col">NARODOWOŚĆ</th>
        <th scope="col">KLUB</th>
        <th scope="col">POZYCJA</th>
        <th scope="col">WIEK</th>
        <th scope="col">WAGA</th>
        <th scope="col">WZROST</th>
        <th scope="col">WARTOŚĆ</th>
    </tr>
    {% for element in players %}

    <tr>
      <td><a href="/player/{{ element.id }}">{{ element.name }}</a></td>
      <td>{{ element.nationality }}</td>
      <td><a href="/club/{{ element.clubs.id }}">{{ element.clubs.name }}</a></td>
      <td>{{ element.position }}</td>
      <td>{{ element.age }}</td>
      <td>{{ element.weight }}</td>
      <td>{{ element.height }}</td>
      <td>{{ element.paid }}</td>
    </tr>


    {% endfor %}

</table>
</div>
<br>
<hr>

<h3><a href="/add-player">Dodaj piłkarza</a></h3>
{% endblock %}

