{% extends "base.html" %}

{% block content %}
<h1> {{ club.name }}</h1>
    <ul>
        <li>Miasto: {{ club.city }}</li>
        <li>Liga: {{ club.league }}</li>
        <li>Rok założenia: {{ club.year }}</li>
        <li>Reputacja: {{ club.get_reputation_display }}</li>
        <li>Stan finansów: {{ club.get_money_display }}</li>
        <li>Nazwa stadionu: {{ club.arena_name }}</li>
        <li>Pojemność stadionu: {{ club.arena_capacity }}</li>

    </ul>

<h2>Lista piłkarzy:</h2>
<ul>
    {% for element in players %}
    <li><a href="/player/{{ element.id }}">{{ element.name }}</a></li>
    {% endfor %}
</ul>



<a href="/update-club/{{ club.pk }}">Edytuj klub</a>
{% endblock %}

