{% extends "base.html" %}

{% block content %}
<div style="overflow-x:auto;">
<table id="customers">
    <tr>
        <th colspan="2">{{ club.name }}</th>
    </tr>
    <tr>
        <td class="tdd1">Miasto</td>
        <td class="tdd2">{{ club.city }}</td>
    </tr>
    <tr>
        <td class="tdd1">Liga</td>
        <td class="tdd2">{{ club.league }}</td>
    </tr>
    <tr>
        <td class="tdd1">Rok założenia</td>
        <td class="tdd2">{{ club.year }}</td>
    </tr>
    <tr>
        <td class="tdd1">Reputacja</td>
        <td class="tdd2">{{ club.get_reputation_display }}</td>
    </tr>
    <tr>
        <td class="tdd1">Stan finansów</td>
        <td class="tdd2">{{ club.get_money_display }}</td>
    </tr>
    <tr>
        <td class="tdd1">Nazwa stadionu</td>
        <td class="tdd2">{{ club.arena_name }}</td>
    </tr>
    <tr>
        <td class="tdd1">Pojemność stadionu</td>
        <td class="tdd2">{{ club.arena_capacity }}</td>
    </tr>
</table>
</div>

<h2>Lista piłkarzy:</h2>
<div style="overflow-x:auto;">
<table id="customers">
    <tr>
        <th scope="col">IMIĘ I NAZWISKO</th>
        <th scope="col">NARODOWOŚĆ</th>
        <th scope="col">POZYCJA</th>
        <th scope="col">WIEK</th>
        <th scope="col">WAGA</th>
        <th scope="col">WZROST</th>
        <th scope="col">WARTOŚĆ</th>
    </tr>
    {% for element in players %}

    <tr>
      <td><a href="/player/{{ element.id }}">{{ element.name }}</a></td>
      <td>{{ element.nationality }}</td>
      <td>{{ element.position }}</td>
      <td>{{ element.age }}</td>
      <td>{{ element.weight }}</td>
      <td>{{ element.height }}</td>
      <td>{{ element.paid }}</td>
    </tr>


    {% endfor %}

</table>
</div>
<br>
<hr>

<h3><a href="/add-player">Dodaj piłkarza</a></h3>
{% endblock %}

