body {
    background-color: #f5f5f5;
	color: black;
	font-family: 'Lato', sans-serif;
	font-size: 15px;
    width: 1200px;
	margin-left: auto;
	margin-right: auto;
}



.viewdiv1 {
  background-color:green;
  border: 2px solid red;
  width: 200px;
  height: 400px;
  float: left;
}


.viewfieldset {
  width: 190px;
  height: 600px;
  float: left;
}

#fs1 {
  background-color: #c4dce8;
}

#fs2 {
  background-color: #d5edf9;
}

#fs3 {
  background-color: #94a8be;
}

#fs4 {
  background-color: #a6bdd6;
}

#fs5 {
  background-color: #b9d3ee;
}

#fs6 {
  background-color: #c0d7ef;
}

#fs7 {
  background-color: #c7dbf1;
}

#fs8 {
  background-color: #cee0f3;
}

#fs9 {
  background-color: #d5e4f4;
}

.tdd1 {
  color: red;
}

#stra {
    background-color: #ACC4CE;
    color: white;
    font-size: 20px;
    text-shadow: 0 5px 5px #878787;
    font-family: Arial, sans-serif;
    line-height: 1.5em;
    text-align: center;
}

.strp {
    color: #116493;
    display: inline-block;
    margin: 20px;

}

#starth {
    background-color: #ACC4CE;
  color: white;
  font-size: 40px;
  text-shadow: 0 5px 5px #878787;
  font-family: Arial, sans-serif;
  line-height: 1.5em;
  text-align: center;
}

/*.tabplayvie {*/
    /*border: 1px solid black;*/
    /*table-layout: initial;*/
    /*border-collapse: collapse*/
/*}*/


/*.tabplayvie2 {*/
    /*border: 1px double black;*/
    /*table-layout: initial;*/
    /*border-collapse: collapse*/
/*}*/

#customers {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}

